---
layout: default
comments: true
---

<article>
   <h2>{{ page.title }}</h2>
   {{ content }}
</article>

<footer>
   <div id="date" class="meta">
      {{ page.date | date_to_string }}
   </div>
   <div id="return">
      <a href="/">&laquo; Return to the home page</a>
   </div>
   {% if page.comments %}
       <div id="disqus_thread"></div>
       <script>
          var disqus_config = function () {
            var disqus_identifier = '{% if page.disqus_identifier %}{{ page.disqus_identifier}}{% else %}{{ page.url }}{% endif %}';
            var disqus_url = '{{ site.url }}{{ page.url }}';
          this.page.url = disque_url; // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = disqus_identifier; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
          };
    (function() { // DON'T EDIT BELOW THIS LINE
     var d = document, s = d.createElement('script');

     s.src = '//spectorio.disqus.com/embed.js';

     s.setAttribute('data-timestamp', +new Date());
     (d.head || d.body).appendChild(s);
     })();
       </script>
       <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
   {% endif %}
</footer>
